<h4>修改船名</h4>
说明：修改船只名称需花费1个海盗币，海盗币可以通过<%= link_to "邀请好友获得",:controller => :home, :action => :invite %>，也可以通过<%= link_to "点击这里获得",:controller => :gg,:action => :index %><br>
修改后的船名会自动在尾部加上“号”字，所以请在填写的时候不要加“号”字。最多为10个字
 <div style="text-align:center">
        <img src="<%=h @usership.ship.img_url %>" border="0" title="价格:<%=h @usership.ship.price %>  <%=h @usership.ship.intro %>"><br>
	原名为：<%=h @usership.name %>	<br>
	
	<form id="form1" name="form1" method="post" action="home/save_change_ship_name">
	  <input type="hidden" name="ship_id" value="<%= @usership.id %>"/>
	  <label>改为：
	    <input name="ship_name" type="text" size="20" maxlength="10">
	    号
      </label><br>
	  <input type="submit" value="确认修改" />
   </form>	
	<br>
    
</div>



