<div>
<div id="mybody">
<div id="islandinfo"><%= Ml.userpic("uid" => @user.xid,"linked"=>"true") %> <%= Ml.name("uid"=>@user.xid)%>的小岛
<span class="gorob"><%= link_to ">>去抢劫好友",:controller => :home ,:action => :friend ,:id => nil %></span>
<% if controller.action_name == "friend" %>
      <span class="gorob goldcolor"><a href="http://huodong.kadang.com/200809/love/index.html?from=haidao" target="_blank">>>送TA礼物</a></span>
<% end %>

<br>
<hr /></div>
<div id="docklist">
<div id="dock1" class="dock"><%= Ml.image("dock") %><br>
码头</div>
<div id="dock2" class="dock"><%= Ml.image("dock") %><br>
码头</div>
<div id="dock3" class="dock"><%= Ml.image("dock") %><br>
码头</div>
<div id="business_dock" ><%= Ml.image("dock") %><br>
贸易码头<br>
&nbsp;
		<% if (@user.dock4 == nil or @user.dock4 == 0) and @current_user.xid != @user.xid-%>
<xn:if-is-app-user uid="<%= @user.xid %>"> 
<form action="business/business/<%= @user.id %>"> 
 <%= submit_tag "贸易" , :name => "dock" ,:value => "贸易" %>
</form>
<xn:else>
<xn:invite-form action="business/invite/<%= @user.id %>">
  <input type="hidden" name="ids[]" value="<%= @user.xid %>"/>
  <%= submit_tag "倒卖" , :name => "dock" ,:value => "倒卖" %>
</xn:invite-form>

</xn:else> 
</xn:if-is-app-user>
<%= link_to "换下一个",:controller=>:home,:action => :friend,:id=>nil %> 


			 
		<% else #别人正在抢 -%>
			 <% if @user.dock4 and @user.dock4 > 0 -%>
				 <% usership = Usership.find(@user.dock4) %>
				 <%= usershipimg(usership)%><br>
				 <img src="http://fmn001.xnimg.cn/fmn001/pic001/20080924/16/55/large_7Bq8_3172b198177.jpg"><%= link_to "<xn:name uid=\"#{usership.user.xid}\" />", :controller => :home , :action => :friend ,:id => usership.user.xid %>正停靠在该码头<br>
				  <% if @current_user.xid == @user.xid %>
					  <%= submit_tag "抢劫" , :name => "dock" ,:value => "赶跑TA" %>
				 <% end %> 
			 <% end %>
		<% end -%>
	</div>
<div style="clear:both;"></div>
</div>
<form action="home/rob/<%= @user.id %>">
<div id="roblist">

	<div  class="dock">
	&nbsp;
		<% if (@user.dock1 == nil or @user.dock1 == 0) and @current_user.xid != @user.xid -%>
			 <%= submit_tag "抢劫" , :name => "dock" ,:value => "抢劫码头1" %>
		<% else #别人正在抢 -%>
			 <% if @user.dock1 and @user.dock1 > 0 -%>
				 <% usership = Usership.find(@user.dock1) %>
				 <%= usershipimg(usership)%><br>
				 <img src="http://fmn001.xnimg.cn/fmn001/pic001/20080924/16/55/large_7Bq8_3172b198177.jpg"><%= link_to "<xn:name uid=\"#{usership.user.xid}\" />", :controller => :home , :action => :friend ,:id => usership.user.xid %>正在该码头抢劫<br>
				 已经掠夺了<%= conversion(Time.now - @user.dock1_time,usership.capacity,usership.robspeed).to_i %>个金币
				 <% if @current_user.xid == @user.xid %>
					  <%= submit_tag "抢劫" , :name => "dock" ,:value => "夺回码头1" %>
				 <% end %> 
			  <% end %> 
		<% end -%>
	
	</div>
	<div  class="dock">
	&nbsp;
		<% if (@user.dock2 == nil or @user.dock2 == 0) and @current_user.xid != @user.xid -%>
			 <%= submit_tag "抢劫" , :name => "dock" ,:value => "抢劫码头2" %>
		<% else #别人正在抢 -%>
			 <% if @user.dock2 and @user.dock2 > 0 -%>
				 <% usership = Usership.find(@user.dock2) %>
				 <%= usershipimg(usership)%><br>
				 <%= Ml.image("small_skull") %><%= link_to "<xn:name uid=\"#{usership.user.xid}\" />", :controller => :home , :action => :friend ,:id => usership.user.xid %>正在该码头抢劫<br>
				 <% if @user.dock2_time %>已经掠夺了<%= conversion(Time.now - @user.dock2_time,usership.capacity,usership.robspeed).to_i %>个金币<% end %>
				  <% if @current_user.xid == @user.xid %>
					  <%= submit_tag "抢劫" , :name => "dock" ,:value => "夺回码头2" %>
				 <% end %>
			 <% end %> 
		<% end -%>
	
	</div>
	<div  class="dock">
	&nbsp;
		<% if (@user.dock3 == nil or @user.dock3 == 0) and @current_user.xid != @user.xid -%>
			 <%= submit_tag "抢劫" , :name => "dock" ,:value => "抢劫码头3" %>
		<% else #别人正在抢 -%>
			 <% if @user.dock3 and @user.dock3 > 0 -%>
				 <% usership = Usership.find(@user.dock3) %>
				 <%= usershipimg(usership)%><br>
				 <img src="http://fmn001.xnimg.cn/fmn001/pic001/20080924/16/55/large_7Bq8_3172b198177.jpg"><%= link_to "<xn:name uid=\"#{usership.user.xid}\" />", :controller => :home , :action => :friend ,:id => usership.user.xid %>正在该码头抢劫<br>
				 <% if @user.dock3_time %>已经掠夺了<%= conversion(Time.now - @user.dock3_time,usership.capacity,usership.robspeed).to_i %>个金币<% end %>
				  <% if @current_user.xid == @user.xid %>
					  <%= submit_tag "抢劫" , :name => "dock" ,:value => "夺回码头3" %>
				 <% end %> 
			 <% end %> 
		<% end -%>
	</div>
	<div  class="dock">
	
	</div>
	<div style="clear:both;"></div>
</div>
<div id="shiplist">
<hr />
<span id="myshipspan"><a id="myship"></a>我的船只</span><br>
<ul>
<%= render(:partial => "home_usership", :object => @current_user.usership )%>
</ul>
<div style="clear:both;"></div>
</div>
</form>
<div  id="noticelist">
<hr style="clear:both;"/>

<span id="piratenews">海盗快讯  <%= link_to "查看更多",:controller => :notice %></span>
<% 

if @mynotice %>

		
		<% if @mynotice.length ==0 %>
			<br><span class="gray">暂无信息</span>
		<% else %>
			
				<%@mynotice.each do |n|%>

					<div id="noticecontent"><%= show_notice(n) %></div><div id="noticetime"><%= distance_of_time_in_words(Time.now,n.updated_at) %></div><div style="clear:both;"></div>

				<% end %>
			
		<% end %>
	
<% end %>
</div>
</div>
<div id="notify">
<div id="notify-title" >公告</div>
<ul >
<li>想提前体验海战的玩家可以<%= link_to "点击这里",:controller => :fight ,:visit =>"first"%>进入试玩，目前只是功能简单的测试版本，希望大家能提出意见和建议。<br />
</li>
<li><a href="http://group.xiaonei.com/GetThread.do?id=327998759&parentpage=0&curpage=0&label=&tribeId=254748934" target="_blank"><span >海盗币说明</span></a></li>
<li><a href="http://group.xiaonei.com/GetThread.do?id=327960549&tribeId=254748934" target="_blank"><span >维护费用的说明</span></a></li>
<li><a href="http://group.xiaonei.com/GetThread.do?id=327839940&parentpage=0&curpage=0&label=&tribeId=254748934" target="_blank"><span style="color:red" >“雇佣船长”功能开放</span></a>
</li>
<li><a href="http://group.xiaonei.com/GetThread.do?id=327758612&tribeId=254748934" target="_blank">“海盗总动员活动”最终获奖公布</a>
</li>
</ul>
</div>
<div id="friendlist" >
<div id="notify-title">海盗好友</div>
<input name="friend_name_key" id="friend_name_key" type="text" onkeyup="friend_name_key_on_change()" size="15"/>
<ul id="friend_box_select">
<% @current_user.friend_ids.each do |friend| %>
<li id="friend_select_li_<%= friend %>"><%= link_to Ml.name({"uid" => friend}),:controller => :home,:action => :friend,:id => friend %></li>
<% end %>
</ul>
</div>
</div>