<style type="text/css">
.myshipbody {
	width: 800px;
	float:left;
	padding: 5px;
}
#shiplist{
float:left;
width:180px;
text-align:center;
}
.gray{
color: #666666;
}
</style>
<h4>我的船只</h4>
<div>
<div class="myshipbody">

<% @current_user.usership.each do |ship| -%>
<div id="shiplist">
<img src="<%= ship.ship.img_url %>" border="0" title="价格:<%=h ship.ship.price %>  <%=h ship.ship.intro %>"><br>
<%= ship.name %><br>
<% if ship.robof && ship.robof > 0   %>
	<span class="gray">(正在<%= link_to "<xn:name uid=\"#{ship.robof}\" />", :controller => :home , :action => :index ,:id => ship.robof %>的岛上烧杀抢掠)</span><br>
     <% if ship.robtime %>已经掠夺了<%= conversion(Time.now - ship.robtime).to_i %>个金币</br><% end %>
<% end %>
<%= link_to "卖掉" , :controller => "shop", :action => "sell" , :id => ship.id %>
</div>
<% end -%>
</div>
</div>