<style type="text/css">
.myshipbody {
	width: 800px;
	float:left;
	padding: 5px;
}
#shiplist{
float:left;
width:180px;
text-align:center;
}
</style>
<h4>我的船只</h4>
<div>
<div class="myshipbody">

<% @current_user.usership.each do |ship| -%>
<div id="shiplist">
<img src="<%= ship.ship.img_url %>" border="0" title="价格:<%=h ship.ship.price %>  <%=h ship.ship.intro %>"><br>
<%= ship.name %><br>
<%= link_to "卖掉" , :controller => "shop", :action => "sell" , :id => ship.id %>
</div>
<% end -%>
</div>
</div>