 <%= link_to Ml.userpic({"uid" => attribute.xid}) + Ml.name({"uid" => attribute.xid}),:action => controller.action_name, :id => attribute.xid %><br>
	  

			  等级：<%= attribute.captain_level %><br>
			  身价：<%= attribute.captain_price %><br>
              属性：<br>
			  <ul>
			  <li>容　　量:<%= attribute.captain_capacity %></li>
			  <li>抢劫速度:<%= attribute.captain_robspeed %></li>
			  <li>攻　　击:<%= attribute.captain_attack %></li>
			  </ul>
			  可分配属性点：<%= attribute.captain_lattribute %><br>
			  升级经验：<%= attribute.captain_exp %>/<%= attribute.captain_aexp %><br>
	  