<div id="friendselect">
  <h4>好友船长</h4>
 
 <ul>
   <li class="friendlist">
	  <%= link_to Ml.userpic({"uid" => f}) + Ml.name({"uid" => f}),:action => :show ,:id => f %><br>
	  <%  u = User.login(f) 
	      if u %>
			  等级：<%= u.captain_level %><br>
			  身价：<%= u.captain_price %>
	  <%  end  %><br>
	  <span class="selllink" ><%= link_to " 确认购买 ",:action=>:buy,:id=>f %></span>
   </li>
</ul>
</div>

<div id="captain_right">
<%= Ml.iframe({:src=>"#{ActionController::Base.asset_host}/capfrm.html",:height=>"0", :width=>"0" ,:frameborder=>"0", :scrolling=>"no"}) %>
</div>
<div id="xnfriendselect">
<h4>在这里选择你想买的好友</h4>
<form action="captain/buy">
<%= Ml.multi_friend_selector({"max" => "1"}) %>
<%= submit_tag "查找",:class => "inputsubmit",:value => "查找" %>
</form>
</div>
