<div id="friendselect">
	<form action="captain/appoint" method="post">
		<div >
		  <h4>我拥有的雇佣船长</h4>
		  <span class="linkbutton"><%= link_to "雇佣更多",:action => :friendlist %></span>
		  <div style="clear:both"></div>
		<% if @captain_user %>
		  <ul>
			<% 
		
		n = 0
		@captain_user.each do |f| 
		n += 1 %>
			<li class="friendlist">
			
			<%= render(:partial => "attribute", :object => f )%>
			<% if f.captain_ship && f.captain_ship.robof && f.captain_ship.robof > 0 %>
				     <span class="gray">(不在港口，不能分配船长)</span>
				<% else %>
				     <%= radio_button  "usership","captain", f.id , :checked => "checked" %> 
				<% end %>
			<br>
            <% if f.captain_ship %>
			    船只：<img src="<%= f.captain_ship.ship.img_url %>" width="20">
		    <% else %>
			    <span class="gray">暂未分配船只</span>
			<% end %><br>
			
			<% if f.xid != @current_user.xid %>
				<%= link_to "解雇",:action=>:disbuy,:id => f.xid %> 
			<% end %>     
			</li>
			<% if n % 4 == 0 %>
			<li><hr style="clear:both"/></li>
			<% end %>
			<% end %>
		  </ul>
		  <% else %>
		  你还没有雇佣船长，点击这里<%= link_to "购买更多雇佣船长",:action => :friendlist %>
		  <% end %>
		  <% if n % 4 != 0 %><hr style="clear:both;"><% end %>
		</div>
		<div id="shipselect">
		<h4>只有空闲的船只才能分配船长</h4>
		<% @current_user.usership.each do |ship|  
		    
			%>
			<div class="shiplist">
			
			<%= usershipimg(ship)%><br>
			船长：<% if ship.captain %>
			     <%= Ml.name({"uid" => ship.captain.xid}) %>
				 <% else %>
				 <span class="gray">暂无</span>
				 <% end %><br>
			<% if !ship.robof || ship.robof <= 0   %>
				<%= radio_button  "usership","id", ship.id , :checked => "checked" %> <%= ship.name %>
			<% else %>
				<span class="gray">不在港口，不能分配船长</span><br>
			<% end %>
			<% if ship.robof && ship.robof > 0   %>
			<span class="gray">(正在<%= link_to "<xn:name uid=\"#{ship.robof}\" />", :controller => :home , :action => :friend ,:id => ship.robof %>的岛上烧杀抢掠)</span><br>
			 <% if ship.robtime %>已经掠夺了<%= conversion(Time.now - ship.robtime,ship.capacity,ship.robspeed).to_i %>个金币<% end %>
			<% end %>
			</div>
		
		<%
		 end -%>
		<hr style="clear:both;">
		</div>
		 <center><%= submit_tag "分配船长" , :name => "dock" ,:value => "分配船长" %></center>
	</form>
</div>
<div id="xnfriendselect">
<h4>属性查看</h4>
<%= render(:partial => "attribute_master", :object => @now_user )%>
</div>
<div id="xnfriendselect">
<h4>帮助</h4>
雇佣船长：<br>
  你的任何好友都可以被你雇佣来作为船长，雇佣的船长可以分配到你的船只上，然后用船带着你的船长去抢劫就可以获得经验（每100金币可获得1点经验），然后船长就可以升级<br>
  同样别人可以雇下你已经雇佣的船长，只有TA有足够的钱，每个人最多每天可以被雇佣三次<br><br>
属性分配：<br>
  船长通过抢劫升级后即可获得1点属性点，这一点，雇主有权利加到任意的三个属性上（容量，抢劫速度，攻击）<br>
  这些属性对船长所在的船有加成作用

</div>
