
<div id="captain_show_friendselect">
  <h4>雇佣船长</h4>
 <span id="linkbutton"><%= link_to "换一个",:action => :show,:id => nil %></span>
 <div>
 <% if @user %>
	 <%= render(:partial => "attribute", :object => @user )%>
	 	  <% if @user.captain_master == @current_user.xid %>
		  TA已经是你的雇佣船长了<span class="selllink" ><br>
		  &nbsp;<%= link_to "解雇",:action=>:disbuy,:id => @user.xid %>&nbsp;</span>
	  <% else %>
		  雇主：<%= link_to Ml.name({"uid" => @user.captain_master}),:action => :show ,:id => @user.captain_master %><br><br>
		<span class="selllink" >
		  &nbsp;<%= link_to " 确认购买 ",:action => :buy,:id => @user.xid %>&nbsp;</span>
	  <% end %>
	  &nbsp;&nbsp;&nbsp;<span class="selllink" ><%= link_to "去看看其他船长",:action=>:friendlist %></span>
<% else %>
没有找到你要的船长
<% end %>
</div>
</div>
<div id="captain_right">
<%= Ml.iframe({:src=>"#{ActionController::Base.asset_host}/capfrm.html",:height=>"200", :width=>"200" ,:frameborder=>"0", :scrolling=>"no"}) %>
</div>
<div id="xnfriendselect">
<h4>在这里选择你想买的好友</h4>
<form action="captain/show">
<%= Ml.multi_friend_selector({"max" => "1"}) %>
<%= submit_tag "查找",:class => "inputsubmit",:value => "查找" %>
</form>
</div>
